<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.louiscurrie.Cipher</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cipher</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>172.29.2.39</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SortsMillGoudy-Regular.ttf</string>
		<string>SortsMillGoudy-Italic.ttf</string>
		<string>REM-VariableFont_wght.ttf</string>
		<string>REM-Italic-VariableFont_wght.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>CipherBackground</string>
	</dict>
</dict>
</plist>
