<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>172.29.2.39</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cipher connects to the analysis server on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Cipher uses the camera to photograph carpet and textile patterns for cultural analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cipher accesses your photo library to select textile and carpet patterns for analysis.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SortsMillGoudy-Regular.ttf</string>
		<string>SortsMillGoudy-Italic.ttf</string>
		<string>REM-VariableFont_wght.ttf</string>
		<string>REM-Italic-VariableFont_wght.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>CipherBackground</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
